# cPanel Phusion Passenger & LiteSpeed Configuration
DirectoryIndex app.js

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Pass Authorization Header to Node.js/Express in cPanel/Passenger
    SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteRule ^$ app.js [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ app.js/$1 [QSA,L]
</IfModule>

